DATABASE_URL=postgresql+asyncpg://<_user>:<password>@localhost/<db_name>
AZURE_OPENAI_ENDPOINT="CHANGE_ME"
AZURE_OPENAI_KEY="CHANGE_ME"
AZURE_OPENAI_GPT4o_VERSION="CHANGE_ME"
AZURE_OPENAI_EMBEDDING_VERSION="CHANGE_ME"